
.logoGovPE{
  width: 100px;
}

.footer {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.29);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .container {
        padding: 0.75rem 1rem;
    }

    .logoGovPE {
        width: 80px;
    }
}